body { margin: 0; overflow: hidden; background: black; }
        #globe-container { position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; }
        #title {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 32px;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
            z-index: 10;
        }
        #tooltip {
            position: absolute;
            background: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 14px;
            display: none;
            pointer-events: none;
            z-index: 10;
        }
    
       #start_window {
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(30, 30, 30, 0.95);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 550px;
            color: white;
       }

       /* #start_window button {
            background: white;
            color: black;
            border: none;
            padding: 8px 15px;
            margin: 5px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            z-index: 100;
        } */

        #start_window button:hover {
            background: rgb(22, 22, 22);
        }


        #difficulty_selection {
            margin-top: 10%;
            padding: 5px;
            display: flex;
            gap: 25px;
            justify-content: center;
        }
        
        #seeker {
            color: rgb(167, 108, 0);
        }
        
        #adept {
            color: rgb(209, 209, 45);
        }
        
        #ascendant {
            color: rgb(127, 127, 233);
        }
        
        /* Стили для кнопки Seeker */
        #difficulty_selection_seeker_btn {
            padding: 10px 20px;
            color: white;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
            url('seeker.png') no-repeat center center;
            background-size: cover;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.4s ease, transform 0.2s ease, box-shadow 0.3s ease;
        }
        
        #difficulty_selection_seeker_btn:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
                url('seeker.png') no-repeat center center !important;
            background-size: cover;
            transform: scale(1.1);
            box-shadow: 0px 4px 15px rgba(180, 180, 255, 0.5);
        }
        
        /* Стили для кнопки Adept */
        #difficulty_selection_adept_btn {
            padding: 10px 20px;
            color: white;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
            url('adept.png') no-repeat center center;
            background-size: cover;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.4s ease, transform 0.2s ease, box-shadow 0.3s ease;
        }
        
        #difficulty_selection_adept_btn:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
                url('adept.png') no-repeat center center !important;
            background-size: cover;
            transform: scale(1.1);
            box-shadow: 0px 4px 15px rgba(180, 180, 255, 0.5);
        }
        
        /* Стили для кнопки Ascendant */
        #difficulty_selection_ascendant_btn {
            padding: 10px 20px;
            color: white!important;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
            url('ascendant.png') no-repeat center center;
            background-size: cover;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.4s ease, transform 0.2s ease, box-shadow 0.3s ease;
        }
        
        #difficulty_selection_ascendant_btn:hover {
            color: black;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
                url('ascendant.png') no-repeat center center !important;
            transform: scale(1.1);
            box-shadow: 0px 4px 15px rgba(180, 180, 255, 0.5);
        }


        #right_answer {
            display: none;
            position: fixed;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(30, 30, 30, 0.95);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 300px;
            color: white;
        }

        #right_answer_btn button {
            padding: 15px;
            font-size: 18px;
            text-align: center;
            border: 2px solid white;
            border-radius: 5px;
            background: black;
            color: white;
            margin-bottom: 15px;
        }

        #wrong_answer {
            display: none;
            position: fixed;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(30, 30, 30, 0.95);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 300px;
            color: white;
        }

        #wrong_answer_btn button {
            padding: 15px;
            font-size: 18px;
            text-align: center;
            border: 2px solid white;
            border-radius: 5px;
            background: black;
            color: white;
            margin-bottom: 15px;
        }
        
        #countries_to_guess {
            display: none;
            position: fixed;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(30, 30, 30, 0.95);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 300px;
            color: white;
        }
        #win_window {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(30, 30, 30, 0.95);
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 500px;
            color: white;
      }

        #toggle_buttons_cont {
            display: none;
            justify-content: space-around;
            left: 30%;
        }
        #toggle_mode_whitepaper {
            display: block;
            cursor: pointer;
            background: rgba(30, 30, 30, 0.95);
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 200px;
            color: white;
            transition: background-color 0.4s ease, transform 0.2s ease, box-shadow 0.3s ease;
        }
        #toggle_mode_whitepaper:hover {
            transform: scale(1.1);
            box-shadow: 0px 4px 15px rgba(180, 180, 255, 0.5);
        }
        #toggle_mode_dark {
            display: block;
            cursor: pointer;
            background: rgba(30, 30, 30, 0.95);
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 200px;
            color: white;
            transition: background-color 0.4s ease, transform 0.2s ease, box-shadow 0.3s ease;
        }
        #toggle_mode_dark:hover {
            transform: scale(1.1);
            box-shadow: 0px 4px 15px rgba(180, 180, 255, 0.5);
        }

        #badge {
            width: 500px;
        }
        
        #timer_display {
            display: none;
            position: fixed;
            top: 20%;
            left: 80%;
            transform: translate(-50%, -50%);
            background: rgba(30, 30, 30, 0.95);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
            z-index: 100;
            width: 100px;
            color: white;
        }
        

        #social-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.social-btn img {
    width: 60%;
    height: 60%;
    transition: transform 0.3s ease;
}


.social-btn:hover {
    background: white;
    transform: scale(1.1);
}

.social-btn:hover img {
    transform: scale(1.2);
}


.twitter:hover {
    background: #ffffff;
}

.discord:hover {
    background: #030307;
}

.telegram:hover {
    background: #0088cc;
}

.story:hover {
    background: #ffffff;
}